.login-img {
    background-image: url('https://nekostateofmind.files.wordpress.com/2017/08/optimized-maxw950-time.jpg');
    background-position: right 10px top 25px;
    background-repeat: no-repeat;
}

.login-background{
    background-color: white;
}