.products-cover-img {
    background-image: url('https://cdn.shopify.com/s/files/1/0570/1251/9078/files/page-title-copyright_1920x1280.png?v=1622648162');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
}